body{
    background-image: url(https://pbs.twimg.com/media/EU_w8KhU8AItNTF.jpg);
  }
  section{
    margin-bottom: 5%;
  }
  .content{
    background-color: rgb(243, 242, 242);
    width: 70vw;
    padding: 30px;
  }
  .photoBook2{
    width: 80vw;
  }
  .top{
    display: flex;
    justify-content: space-between;
    font-family: 'Rampart One', cursive;
    font-size: 35px;
  }
  header{
    height: 20px;
  }
  #first{
    display: flex;
    justify-content: center;
  }
  #topImg{
    width: 80vw;
  }
  #second{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #index{
    text-align: center;
  }
  ol{
    padding-left: 0;
  }
  .list{
    display: flex;
    justify-content: center;
    border: 1px solid black;
  }
  li{
    font-size: 13px;
    line-height: 3;
  }
  .img-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .sample-item{
    margin: 2%;
  }
 
  footer{
    padding: 20px 0;
    text-align: center;
    font-size: 0.8rem;
  }
  img {
    width: 100%;
  }
  .sample-item {
    width: 30%;
  }
  .modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
  }
  .modal__bg{
    background: rgba(100, 100, 100, 0.9);
    height: 100vh;
    position: absolute;
    width: 100%;
  }
  .modal__content{
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 70%;
  }
  .onText{
    position: relative;
    margin-top: 2%;
  }
  .onText:hover img{
    opacity: 0.3;
  }
  .onText:hover::before{
    content: "テキスト";
    font-size: 4rem;
    letter-spacing: 2rem;
    font-weight: bold;
    color: rgb(17, 72, 121);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .topBtn{
    background-color: gray;
    padding: 1%;
    width: 8%;
    text-align: center;
  }
  .topBtnOuter{
    display: flex;
    justify-content: center;
  }

  /* スライド */
  .slide-container{
    display: flex;
    width: 100%;
    /* height: 600px; */
    transition: all 1s ease;
  }
  
  .container-wrap{
    width: 100%;
    overflow-x: hidden;
    position: relative;
    background-color: purple;
  }
  
  .left-arrow,.right-arrow{
    cursor: pointer;
  }

  .left-arrow:hover,.right-arrow:hover{
opacity: 0.7;
  }
  
  .left-arrow{
    content: '';
    width: 20px;
    height: 20px;
    border-bottom: solid 8px rgb(255, 0, 0);
    border-right: solid 8px rgb(255, 0, 0);
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 30px;
    transform: rotate(134deg);
  }
  
  .right-arrow{
    content: '';
    width: 20px;
    height: 20px;
    border-bottom: solid 8px rgb(255, 0, 0);
    border-right: solid 8px rgba(255, 0, 0);
    position: absolute;
    top: 50%;
    right: 30px;
    transform: rotate(-45deg);
    z-index: 1;
  }
  
  .slide{
    min-width: 100%;
    text-align: center;
    font-size: 40px;
    /* padding-top: 300px; */
  }

  .slide p{
      margin-bottom: 3%;
  }

  .slide img{
      width: 50%;
  }





































 /* アコーディオン */
 .question,.answer{
     padding: 10px;
     background-color: blueviolet;
     color: white;
     border: solid 1px;
 }

 .question{
     display: flex;
    justify-content: space-between;
     align-items: center;
     cursor: pointer;
 }

 i{
     font-size: 1.2rem;
     margin-right: 10px;
 }

 i:hover{
     opacity: 0.7;
 }

 /* .question::after,.question::before{
    content: '';
    display: block;
    background-color: white;
    position: absolute;
  }

  .question::after{
    width: 20px;
    height: 2px;
    right: 10px;
    top: 50%;
  }

  .question::before{
    width: 2px;
    height: 20px;
    right: 19px;
    top: 30%;
  }

  .question.on::before{
    display: none;
  } */

  .answer{
    display: none;
    background-color: rgb(230, 160, 75);
    width: 100%;
    box-sizing: border-box;
    outline: none;
  }

  /* Loading背景画面設定　*/
#splash {
    /*fixedで全面に固定*/
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  background:#333;
  text-align:center;
  color:#fff;
  background-color: rgba(255, 255, 255, 0.777);
}

/* Loading画像中央配置　*/
#splash_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Loading アイコンの大きさ設定　*/
#splash_logo img {
  width:100vw;
  
}

/* fadeUpをするアイコンの動き */

.fadeUp{
animation-name: fadeUpAnime;
animation-duration:0.5s;
animation-fill-mode:forwards;
opacity: 0;
}

@keyframes fadeUpAnime{
  from {
    opacity: 0;
  transform: translateY(100px);
  }

  to {
    opacity: 1;
  transform: translateY(0);
  }
}